* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  padding: 4.3rem 8rem;
  background: hsl(36, 100%, 99%);
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}
header .mobile-menu {
  display: none;
}
header ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;
  text-align: center;
  width: 100%;
}
header ul li {
  list-style: none;
  margin-left: auto;
}
header ul li a {
  text-decoration: none;
  color: hsl(236, 13%, 42%);
  transition: all 0.3s;
}
header ul li a:hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}

main {
  padding: 1.25rem 0;
}
main .news {
  display: grid;
  grid-template-columns: 66% auto;
  grid-template-rows: auto auto;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 5rem;
}
main .news .main-news {
  width: 100%;
}
main .news .main-news .desktop-img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .news .main-news .fs-15 {
  font-size: 15px;
}
main .news .main-news .news-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main .news .main-news .news-text .headline {
  font-size: 3.8rem;
  font-weight: 800;
  width: 90%;
  line-height: 3.7rem;
}
main .news .main-news .news-text .paragraph {
  color: hsl(236, 13%, 42%);
  width: 90%;
  text-align: left;
  margin: 0 0 0 auto;
}
main .news .main-news .news-text .paragraph .feature-text {
  margin: 0 0 1.3rem 0;
  line-height: 1.7rem;
}
main .news .main-news .news-text .paragraph button {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: none;
  background: hsl(5, 85%, 63%);
  color: white;
  font-weight: 700;
  transition: all 0.2s;
}
main .news .main-news .news-text .paragraph button:hover {
  background: hsl(240, 100%, 5%);
  cursor: pointer;
}
main .news .side-news {
  background: hsl(240, 100%, 5%);
  padding: 0 2.5rem;
}
main .news .side-news .heading {
  color: hsl(35, 77%, 62%);
  font-weight: 700;
  font-size: 2.8rem;
  padding: 1.7rem 0 1rem 0;
}
main .news .side-news .new-article .headline-s {
  color: hsl(36, 100%, 99%);
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0.5rem 0;
  transition: all 0.2s;
}
main .news .side-news .new-article .headline-s:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}
main .news .side-news .new-article .side-news-details {
  color: hsl(233, 8%, 79%);
  font-size: 15px;
  line-height: 1.7rem;
}
main .news .side-news .divider {
  background: hsl(233, 8%, 79%);
  width: 100%;
  height: 0.08rem;
  margin: 1.6rem 0;
}
main .news .other-news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  grid-column: 1/-1;
  grid-gap: 1rem;
  justify-content: space-between;
  margin-left: auto;
}
main .news .other-news .o_n-article {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-left: auto;
}
main .news .other-news .o_n-article img {
  width: 70%;
}
main .news .other-news .o_n-article .article-no {
  font-size: 2.3rem;
  font-weight: 800;
  color: hsl(233, 8%, 79%);
  margin: 0 0 0.3rem 0;
}
main .news .other-news .o_n-article .title {
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(240, 100%, 5%);
  margin: 0.5rem 0;
  transition: all 0.2s;
}
main .news .other-news .o_n-article .title:hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}
main .news .other-news .o_n-article p {
  color: hsl(236, 13%, 42%);
  line-height: 1.6rem;
}

@media (max-width: 1130px) {
  body {
    padding: 3.3rem 6rem;
  }
  header ul {
    grid-template-columns: repeat(5, auto);
  }
  header ul li {
    margin: auto;
  }
}
@media (max-width: 924px) {
  body {
    padding: 3.3vh 10vw;
  }
  main .news {
    grid-template-columns: 3fr 2fr;
  }
  main .news .main-news .news-text {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
  }
  main .news .main-news .news-text .headline {
    font-size: 2.6rem;
    width: 90%;
    line-height: normal;
    margin: 1.5rem 0 0 0;
  }
  main .news .main-news .news-text .paragraph {
    width: 100%;
  }
  main .news .main-news .news-text .paragraph .feature-text {
    margin: 1rem 0;
  }
  main .news .side-news {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }
  main .news .side-news .heading {
    font-size: 2.2rem;
    padding: 1rem 0;
  }
  main .news .side-news .new-article .headline-s {
    font-size: 1.01rem;
    margin: 0 0 0.5rem 0;
    line-height: 1.4rem;
  }
  main .news .side-news .new-article .side-news-details {
    font-size: 14px;
    line-height: 1.5rem;
  }
  main .news .side-news .new-article .divider {
    margin: 1.5rem 0;
  }
  main .news .other-news {
    grid-template-columns: 100%;
  }
  main .news .other-news .o_n-article {
    margin-left: 0px;
    grid-template-columns: 25% 75%;
    align-items: center;
    height: 100%;
  }
  main .news .other-news .o_n-article .o_n-content {
    display: grid;
    align-items: center;
    height: 100%;
  }
}
@media (max-width: 800px) {
  .darken {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    transition: 0.3s all ease-in-out;
  }
  header {
    align-items: center;
  }
  header .nav-links {
    display: none;
  }
  header .mobile-menu {
    display: grid;
    justify-content: flex-end;
  }
  header .menu-components {
    display: grid;
    grid-template-columns: 5fr 1fr;
    position: absolute;
    padding: 62px;
    height: 100%;
    top: 0;
    width: 70%;
    background: white;
    z-index: 99;
    right: -70%;
    transition: all 0.3s ease-in-out;
  }
  header .menu-components .close-btn {
    order: 2;
  }
  header .menu-components .mobile-links {
    display: grid;
    grid-template-columns: auto;
    order: 1;
    width: 100%;
    line-height: 5rem;
  }
  header .menu-components .mobile-links li {
    margin: 0;
  }
  header .menu-components .mobile-links li a {
    display: grid;
    text-align: left;
    color: hsl(240, 100%, 5%);
  }
  header .menu-components.active {
    right: 0%;
    z-index: 99;
  }
}
@media (max-width: 650px) {
  main .news {
    grid-template-columns: 100%;
  }
  main .news .main-news .news-text .paragraph .feature-text {
    margin: 0 0 1.3rem 0;
  }
  main .news .side-news {
    padding: 2.6rem;
  }
  main .news .side-news .new-article .headline-s {
    color: hsl(36, 100%, 99%);
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  main .news .side-news .new-article .side-news-details {
    font-size: 15px;
    line-height: 1.7rem;
  }
  main .news .other-news .o_n-article {
    grid-gap: 30px;
  }
  main .news .other-news .o_n-article img {
    width: 100%;
  }
}
@media (max-width: 450px) {
  body {
    padding: 25px;
  }
  header {
    padding: 1rem 0;
  }
  header .logo {
    scale: 0.8;
  }
  header .menu-components {
    padding: 10vw;
  }
  header .menu-components .mobile-links {
    line-height: 3rem;
    transform: translateY(-6.7rem);
  }
  main .news .side-news {
    padding: 2rem;
  }
  main .news .side-news .heading {
    padding: 0 0 1.8rem 0;
  }
  main .news .other-news .o_n-article {
    width: 100%;
  }
  main .news .other-news .o_n-article img {
    scale: 1.2;
    padding: 0 0 0 9px;
  }
}/*# sourceMappingURL=style.css.map */