* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  padding: 4.3rem 8rem;
  background: #fffdfa;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  width: 100%;
}

header .mobile-menu {
  display: none;
}

header ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  margin: auto;
  text-align: center;
  width: 100%;
}

header ul li {
  list-style: none;
  margin-left: auto;
}

header ul li a {
  text-decoration: none;
  color: #5d5f79;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header ul li a:hover {
  color: #f15e50;
  cursor: pointer;
}

main {
  padding: 1.25rem 0;
}

main .news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 66% auto;
      grid-template-columns: 66% auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 5rem;
}

main .news .main-news {
  width: 100%;
}

main .news .main-news .desktop-img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

main .news .main-news .fs-15 {
  font-size: 15px;
}

main .news .main-news .news-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

main .news .main-news .news-text .headline {
  font-size: 3.8rem;
  font-weight: 800;
  width: 90%;
  line-height: 3.7rem;
}

main .news .main-news .news-text .paragraph {
  color: #5d5f79;
  width: 90%;
  text-align: left;
  margin: 0 0 0 auto;
}

main .news .main-news .news-text .paragraph .feature-text {
  margin: 0 0 1.3rem 0;
  line-height: 1.7rem;
}

main .news .main-news .news-text .paragraph button {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: none;
  background: #f15e50;
  color: white;
  font-weight: 700;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

main .news .main-news .news-text .paragraph button:hover {
  background: #00001a;
  cursor: pointer;
}

main .news .side-news {
  background: #00001a;
  padding: 0 2.5rem;
}

main .news .side-news .heading {
  color: #e9ab53;
  font-weight: 700;
  font-size: 2.8rem;
  padding: 1.7rem 0 1rem 0;
}

main .news .side-news .new-article .headline-s {
  color: #fffdfa;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0.5rem 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

main .news .side-news .new-article .headline-s:hover {
  color: #e9ab53;
  cursor: pointer;
}

main .news .side-news .new-article .side-news-details {
  color: #c5c6ce;
  font-size: 15px;
  line-height: 1.7rem;
}

main .news .side-news .divider {
  background: #c5c6ce;
  width: 100%;
  height: 0.08rem;
  margin: 1.6rem 0;
}

main .news .other-news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  width: 100%;
  grid-column: 1 / -1;
  grid-gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
}

main .news .other-news .o_n-article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  margin-left: auto;
}

main .news .other-news .o_n-article img {
  width: 70%;
}

main .news .other-news .o_n-article .article-no {
  font-size: 2.3rem;
  font-weight: 800;
  color: #c5c6ce;
  margin: 0 0 0.3rem 0;
}

main .news .other-news .o_n-article .title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #00001a;
  margin: 0.5rem 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

main .news .other-news .o_n-article .title:hover {
  color: #f15e50;
  cursor: pointer;
}

main .news .other-news .o_n-article p {
  color: #5d5f79;
  line-height: 1.6rem;
}

@media (max-width: 1130px) {
  body {
    padding: 3.3rem 6rem;
  }
  header ul {
    -ms-grid-columns: (auto)[5];
        grid-template-columns: repeat(5, auto);
  }
  header ul li {
    margin: auto;
  }
}

@media (max-width: 924px) {
  body {
    padding: 3.3vh 10vw;
  }
  main .news {
    -ms-grid-columns: 3fr 2fr;
        grid-template-columns: 3fr 2fr;
  }
  main .news .main-news .news-text {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  main .news .main-news .news-text .headline {
    font-size: 2.6rem;
    width: 90%;
    line-height: normal;
    margin: 1.5rem 0 0 0;
  }
  main .news .main-news .news-text .paragraph {
    width: 100%;
  }
  main .news .main-news .news-text .paragraph .feature-text {
    margin: 1rem 0;
  }
  main .news .side-news {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }
  main .news .side-news .heading {
    font-size: 2.2rem;
    padding: 1rem 0;
  }
  main .news .side-news .new-article .headline-s {
    font-size: 1.01rem;
    margin: 0 0 0.5rem 0;
    line-height: 1.4rem;
  }
  main .news .side-news .new-article .side-news-details {
    font-size: 14px;
    line-height: 1.5rem;
  }
  main .news .side-news .new-article .divider {
    margin: 1.5rem 0;
  }
  main .news .other-news {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  main .news .other-news .o_n-article {
    margin-left: 0px;
    -ms-grid-columns: 25% 75%;
        grid-template-columns: 25% 75%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  main .news .other-news .o_n-article .o_n-content {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}

@media (max-width: 800px) {
  .darken {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
  }
  header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .nav-links {
    display: none;
  }
  header .mobile-menu {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .menu-components {
    display: none;
    -ms-grid-columns: 5fr 1fr;
        grid-template-columns: 5fr 1fr;
    position: absolute;
    padding: 62px;
    height: 100%;
    top: 0;
    width: 70%;
    background: white;
    z-index: 99;
    right: -70%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  header .menu-components .close-btn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  header .menu-components .mobile-links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    line-height: 5rem;
  }
  header .menu-components .mobile-links li {
    margin: 0;
  }
  header .menu-components .mobile-links li a {
    display: -ms-grid;
    display: grid;
    text-align: left;
    color: #00001a;
  }
  header .menu-components.active {
    right: 0%;
    z-index: 99;
  }
}

@media (max-width: 650px) {
  main .news {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  main .news .main-news .news-text .paragraph .feature-text {
    margin: 0 0 1.3rem 0;
  }
  main .news .side-news {
    padding: 2.6rem;
  }
  main .news .side-news .new-article .headline-s {
    color: #fffdfa;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  main .news .side-news .new-article .side-news-details {
    font-size: 15px;
    line-height: 1.7rem;
  }
  main .news .other-news .o_n-article {
    grid-gap: 30px;
  }
  main .news .other-news .o_n-article img {
    width: 100%;
  }
}

@media (max-width: 450px) {
  body {
    padding: 25px;
  }
  header {
    padding: 1rem 0;
  }
  header .logo {
    scale: 0.8;
  }
  header .menu-components {
    padding: 10vw;
  }
  header .menu-components .mobile-links {
    line-height: 3rem;
    -webkit-transform: translateY(-6.7rem);
            transform: translateY(-6.7rem);
  }
  main .news .side-news {
    padding: 2rem;
  }
  main .news .side-news .heading {
    padding: 0 0 1.8rem 0;
  }
  main .news .other-news .o_n-article {
    width: 100%;
  }
  main .news .other-news .o_n-article img {
    scale: 1.2;
    padding: 0 0 0 9px;
  }
}

@media (max-height: 390px) {
  header .menu-components .mobile-links {
    line-height: 10vh;
  }
}
/*# sourceMappingURL=style.css.map */